{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.sheet-history{% endtrans %}{% endblock %}
{% block description %}{% trans %}title.sheet-history{% endtrans %}{% endblock %}

{% block main %}
    {% set successText = 'default' %}
    <main class="bg-pink-light">
        <section class="pb-5">
            <div class="page-wrapper">
                <div class="title-special">
                    <p>
                        {{child.firstname}}<br>
                        {{child.lastname}}
                    </p>
                    <p>{% if child.birthdate|ageYear < 1 %} {{ child.birthdate|ageMonth }} {% trans %}sheet.history.age-month{% endtrans %}
                    {% else %}{{ child.birthdate|ageYear }} {% trans %}sheet.history.age-year{% endtrans %} {% endif %}</p>
                </div>

                {% for sheet in sheets %}
                <div class="box-history">
                    <div class="box-history__left" onclick="location.href='{{ path('sheet_history_view', {'childId': child.id, 'sheetId': sheet.id}) }}';">
                        <p>{{ sheet.createdAt|date('d-m-Y') }}</p>
                        <small>{{ ('sheet.history.sheet-name-' ~ sheet.type|sheetTypeToString|lower )|trans() }}</small>
                    </div>
                    <div class="box-history__right">
                        <a href="{{ path('sheet_download', {childId: child.id, sheetId: sheet.id}) }}">
                            <button onclick="{% set successText = 'sheet.history.download' %}" type="button" data-modal="success_modal" class="btn-icon">
                                <i class="fas fa-download"></i>
                            </button>
                        </a>
                        <button type="button" class="btn-icon"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    {% include 'utils/success-modal.html.twig' with { success_message: successText|trans(), removeJS: true} %}

{% endblock %}
