<section class="overlay overlay--scale overlay--low-opacity overlay--v-align-middle" data-modal="addMeals">
    <div class="overlay__close"></div>
    <div class="page-wrapper">
        <div class="box-info">
            <p class="text-left"><button type="button" class="link-prev" data-close="close">{% trans %}sheet.daily.modal.back{% endtrans %}</button></p>
            <div class="box-info__title">
                <i class="fas fa-utensils"></i> <span>{% trans %}sheet.daily.modal.add-meal{% endtrans %}</span>
            </div>
            <div class="box-info__content">
                <form method="post" class="grid-flex">
                    <div class="column w-100">
                        <div class="input-animation">
                            <label for="mealTime">{% trans %}sheet.daily.modal.meal-time{% endtrans %}</label>
                            <input type="time" id="mealTime" name="mealTime" />
                            <img alt="green clock" src="{{ asset('images/icon-clock-green.svg') }}" />
                        </div>
                    </div>
                    <div class="column w-100">
                        <div class="input-animation">
                            <label for="mealselect">{% trans %}sheet.daily.modal.meal-type{% endtrans %}</label>
                            <select id="mealselect" required>
                                <option value="" hidden>{% trans %}sheet.daily.modal.select-meal{% endtrans %}</option>
                                <option name="babybottle" id="babybottle">{% trans %}sheet.daily.modal.meal-babybottle{% endtrans %}</option>
                                <option id="breadsoup">{% trans %}sheet.daily.modal.meal-breadsoup{% endtrans %}</option>
                                <option id="menuofday">{% trans %}sheet.daily.modal.meal-menuofday{% endtrans %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="column w-100" id="selectInput"></div>

                    <div class="column w-100">
                        <div class="input-animation">
                            <label for="meal_commentary">{% trans %}sheet.daily.modal.commentary{% endtrans %}</label>
                            <textarea id="meal_commentary" name="meal_commentary" placeholder="{% trans %}sheet.daily.modal.commentary-placeholder{% endtrans %}"></textarea>
                        </div>
                    </div>

                    <button type="submit" name="button" id="submitMealBtn" disabled class="btn bg-green disabled">
                        {% trans %}sheet.daily.modal.add-meal{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

<script>
    $('#mealselect').on('change', function () {
        let option = $("option:selected", this);

        if (option.attr('id') === 'babybottle') {
            $('#selectInput').html(`
<div class="column w-100">
    <div class="input-animation">
        <label for="babybottle_size">{% trans %}sheet.daily.modal.meal-babybottle-size{% endtrans %}</label>
        <input type="text" id="babybottle_size" name="babybottle_size" placeholder="150" />
    </div>
</div>
            `);
        }
        if (option.attr('id') === 'breadsoup') {
            $('#selectInput').html(`
<div class="column w-100">
    <div class="input-animation">
        <label for="breadsoup_details">{% trans %}sheet.daily.modal.meal-breadsoup-type{% endtrans %}</label>
        <input type="text" id="breadsoup_details" name="breadsoup_details" placeholder="{% trans %}sheet.daily.modal.meal-breadsoup-type-placeholder{% endtrans %}" />
    </div>
</div>
            `);
        }
        if (option.attr('id') === 'menuofday') {
            $('#selectInput').html(`
<div class="column w-100">
  <div class="input-animation">
    <label for="entrance">{% trans %}sheet.daily.modal.meal-entrance{% endtrans %}</label>
    <select id="entrance" required>
      <option value="" hidden>{% trans %}sheet.daily.modal.entrance-option{% endtrans %}</option>
      <option value="nothing">{% trans %}sheet.daily.modal.meal-eat-nothing{% endtrans %}</option>
      <option value="half">{% trans %}sheet.daily.modal.meal-eat-half{% endtrans %}</option>
      <option value="all">{% trans %}sheet.daily.modal.meal-eat-all{% endtrans %}</option>
      <option value="more">{% trans %}sheet.daily.modal.meal-eat-more{% endtrans %}</option>
    </select>
  </div>
</div>
<div class="column w-100">
  <div class="input-animation">
    <label for="dish">{% trans %}sheet.daily.modal.meal-dish{% endtrans %}</label>
    <select id="dish" required>
      <option value="" hidden>{% trans %}sheet.daily.modal.meal-dish-option{% endtrans %}</option>
      <option value="nothing">{% trans %}sheet.daily.modal.meal-eat-nothing{% endtrans %}</option>
      <option value="half">{% trans %}sheet.daily.modal.meal-eat-half{% endtrans %}</option>
      <option value="all">{% trans %}sheet.daily.modal.meal-eat-all{% endtrans %}</option>
      <option value="more">{% trans %}sheet.daily.modal.meal-eat-more{% endtrans %}</option>
    </select>
  </div>
</div>
<div class="column w-100">
  <div class="input-animation">
    <label for="dessert">{% trans %}sheet.daily.modal.meal-dessert{% endtrans %}</label>
    <select id="dessert" required>
      <option value="" hidden>{% trans %}sheet.daily.modal.meal-dessert-option{% endtrans %}</option>
      <option value="nothing">{% trans %}sheet.daily.modal.meal-eat-nothing{% endtrans %}</option>
      <option value="half">{% trans %}sheet.daily.modal.meal-eat-half{% endtrans %}</option>
      <option value="all">{% trans %}sheet.daily.modal.meal-eat-all{% endtrans %}</option>
      <option value="more">{% trans %}sheet.daily.modal.meal-eat-more{% endtrans %}</option>
    </select>
  </div>
</div>
            `);
        }
    });
</script>


<script type="application/javascript">
    $(document).on('change',"#mealTime, #mealselect",  function() {
        if ($('#mealTime').val() !== '' && $('#mealselect').val() !== '') {
            $('#submitMealBtn').prop('disabled', false);
            $('#submitMealBtn').removeClass('disabled')
        } else {
            $('#submitMealBtn').prop('disabled', true);
            $('#submitMealBtn').removeClass('disabled').addClass('disabled')
        }
    });
</script>


<script type="application/javascript">

    $("#submitMealBtn").on('click', function() {
        let data = [];
        let mealType = $("option:selected", $('#mealselect')).attr('id');

        data = {...data, ...{hour: $('#mealTime').val()}};
        data = {...data, ...{comment: $('#meal_commentary').val()}};

        switch (mealType) {
            case 'babybottle':
                data = {...data, ...{details: $('#babybottle_size').val()}};
                break;
            case 'breadsoup':
                data = {...data, ...{details: $('#breadsoup_details').val()}};
                break;
            case 'menuofday':
                data = {...data, ...{entrance: $("option:selected", $('#entrance')).val()}};
                data = {...data, ...{dish: $("option:selected", $('#dish')).val()}};
                data = {...data, ...{dessert: $("option:selected", $('#dessert')).val()}};
                break;
        }
        let mealData = {[mealType]: data};

        $.ajax({
            type: "POST",
            url: '{{ path('sheet_view_ajax', {'childId': app.request.get('childId')}) }}',
            data: [
                {name: 'sheet_type', value: {{ sheetTypeToInt('DAILY') }}},
                {name: 'meal', value: JSON.stringify(mealData)},
                {name: 'sheet_id', value: "{{ sheet.id }}"}
            ],
            success: function(data) {
                //TODO: add the button and don't reload the page
                document.location.reload(true);
            }
        });
    });
</script>
