{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.sheet-view{% endtrans %}{% endblock %}
{% block description %}{% trans %}title.sheet-view{% endtrans %}{% endblock %}

{% block main %}
<main>
    <section class="pb-5">
        <div class="page-wrapper">
            <div class="box-user {% if child.sexe == 'F' %}box-user--girl{% endif %}">
                <div class="box-letters">{{ child.firstname|first|upper}}{{child.lastname|first|upper }}</div>

                <div class="box-user__content">
                    <form id="dailySheetForm" class="grid-flex">
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="arrival_time">{% trans %}sheet.daily.arrival-time{% endtrans %}</label>
                                <input type="time" id="arrival_time" name="arrival_time" value="{{ sheet.data.arrival_time }}" {% if readonly %}readonly{% endif
                                %} placeholder="hh:mm" />
                                <img src="{{ asset('images/icon-clock-green.svg') }}" alt="green clock" />
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="departure_time">{% trans %}sheet.daily.departure-time{% endtrans %}</label>
                                <input type="time" id="departure_time" name="departure_time"  value="{{ sheet.data.departure_time }}" {% if readonly
                                %}readonly{% endif %} placeholder="hh:mm" />
                                <img src="{{ asset('images/icon-clock-red.svg') }}" alt="red clock" />
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="activities">{% trans %}sheet.daily.activities{% endtrans %}</label>
                                <input type="text" id="activities" name="activities" value="{{ sheet.data.activities }}" {% if readonly %}readonly{% endif %} placeholder="{% trans %}sheet.daily.activities-placeholder{% endtrans %}"/>
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="communication">{% trans %}sheet.daily.communication-received{% endtrans %}</label>
                                <input type="text" id="communication" name="communication" value="{{ sheet.data.communication }}" {% if readonly %}readonly{% endif %} placeholder="{% trans %}sheet.daily.communication-received{% endtrans %}"/>
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="nurse_comment">{% trans %}sheet.daily.nurse-comment{% endtrans %}</label>
                                <textarea id="nurse_comment" name="nurse_comment" {% if readonly %}readonly{% endif %} placeholder="{% trans %}sheet.daily.nurse-comment-placeholder{% endtrans %}">{{ sheet.data.nurse_comment }}</textarea>
                            </div>
                        </div>

                        <input type="hidden" name="sheet_type" value={{ sheetTypeToInt('DAILY') }}>
                        <input type="hidden" name="sheet_id" value={{ sheet.id }}>
                    </form>

                    {% if sheet.data.sleep is defined %}
                        {% for sleep in sheet.data.sleep %}
                        <button type="button" class="btn-3" data-modal="validation_modal">
                            <div class="btn-3__wrapper">
                                <span class="btn-3__icon"><span><i class="fa fa-bed"></i></span></span>
                                <span class="btn-3__title">
                                    {% trans %}sheet.daily.sleeping{% endtrans %}<br>
                                    <span class="title__sub-title">{% trans %}sheet.daily.sleeping.from{% endtrans %} <span>{{sleep.start}}</span> {% trans %}sheet.daily.sleeping.to{% endtrans %} <span>{{sleep.end}}</span></span>
                                </span>
                                {% if not readonly %}
                                    <span class="btn-3__remove"><i class="fa fa-trash"></i></span>
                                {% endif %}
                            </div>
                        </button>
                        {% endfor %}
                    {% endif %}

                    {% if sheet.data.stools is defined %}
                        {% for timestamp,stool in sheet.data.stools %}
                            {% if stool.stool == 'l'%}{% set stoolType = 'sheet.daily.stool.liquid' %}{% endif %}
                            {% if stool.stool == 's'%}{% set stoolType = 'sheet.daily.stool.solid' %}{% endif %}
                            {% if stool.stool == 'n'%}{% set stoolType = 'sheet.daily.stool.normal' %}{% endif %}
                            <button type="button" class="btn-3" data-modal="removeInfos">
                                <div class="btn-3__wrapper">
                                    <span class="btn-3__icon"><span><i class="fa fa-toilet-paper"></i></span></span>
                                    <span class="btn-3__title">
                                        {% trans %}sheet.daily.stool{% endtrans %} <span class="c-blue">{{ stoolType|trans() }}</span><br>
                                        <span class="title__sub-title">{% trans %}sheet.daily.stool.at{% endtrans %} <span>{{timestamp|date('H:i')}}</span> {% if stool.accident %}{% trans %}sheet.daily.stool.by-accident{% endtrans %}{% else %}{% trans %}sheet.daily.stool.not-by-accident{% endtrans %}{% endif %}</span>
                                    </span>
                                    {% if not readonly %}
                                        <span class="btn-3__remove"><i class="fa fa-trash"></i></span>
                                    {% endif %}
                                </div>
                                <p>
                                    {{ stool.comment }}
                                </p>
                            </button>
                        {% endfor %}
                    {% endif %}

                    {% if sheet.data.meal is defined %}
                        {% for timestamp,meals in sheet.data.meal %}
                            {% for type,meal in meals %}
                                {% if type == 'babybottle' %}
                                    <button type="button" class="btn-3" data-modal="removeInfos">
                                        <div class="btn-3__wrapper">
                                            <span class="btn-3__icon"><span><i class="fa fa-utensils"></i></span></span>
                                            <span class="btn-3__title">
                                                {% trans %}daily.sheet.meal.babybottle{% endtrans %}<br>
                                                <span class="title__sub-title">{% if meal.details is defined %}<span>{{ meal.details }} ml</span>{% endif %} {% trans %}daily.sheet.meal.at{% endtrans %} <span>{{meal.hour|date('H:i')}}</span></span>
                                            </span>
                                        {% if not readonly %}
                                            <span class="btn-3__remove"><i class="fa fa-trash"></i></span>
                                        {% endif %}
                                        </div>
                                    </button>
                                {% elseif type == 'breadsoup' %}
                                    <button type="button" class="btn-3" data-modal="removeInfos">
                                        <div class="btn-3__wrapper">
                                            <span class="btn-3__icon"><span><i class="fa fa-utensils"></i></span></span>
                                            <span class="btn-3__title">
                                                {% trans %}daily.sheet.meal.breadsoup{% endtrans %}<br>
                                                <span class="title__sub-title">{% if meal.details is defined %}<span>{{meal.details}}</span>{% endif %} {% trans %}daily.sheet.meal.at{% endtrans %} <span>{{meal.hour|date('H:i')}}</span></span>
                                            </span>
                                        {% if not readonly %}
                                            <span class="btn-3__remove"><i class="fa fa-trash"></i></span>
                                        {% endif %}
                                        </div>
                                    </button>
                                {% elseif type == 'menuofday' %}
                                    <button type="button" class="btn-3" data-modal="removeInfos">
                                        <div class="btn-3__wrapper">
                                            <span class="btn-3__icon"><span><i class="fa fa-utensils"></i></span></span>
                                            <span class="btn-3__title">
                                                {% trans %}daily.sheet.meal.menuofday{% endtrans %}<br>
                                                <span class="title__sub-title">
                                                    {% trans %}daily.sheet.meal.menuofday.entrance{% endtrans %}: <span>{{ 'sheet.daily.modal.meal-eat-' ~ meal.entrance|trans() }}</span><br>
                                                    {% trans %}daily.sheet.meal.menuofday.dish{% endtrans %}: <span>{{ 'sheet.daily.modal.meal-eat-' ~ meal.dish|trans() }}</span><br>
                                                    {% trans %}daily.sheet.meal.menuofday.dessert{% endtrans %}: <span>{{ 'sheet.daily.modal.meal-eat-' ~ meal.dessert|trans() }}</span>
                                                </span>
                                            </span>
                                        {% if not readonly %}
                                            <span class="btn-3__remove"><i class="fa fa-trash"></i></span>
                                        {% endif %}
                                        </div>
                                    </button>
                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                    {% endif %}

                    {% if not readonly %}
                    <button type="button" data-modal="addMeals" class="btn bg-blue fa-utensils left d-block mb-2">
                        {% trans %}sheet.daily.add-meal{% endtrans %}
                    </button>
                    <button type="button" data-modal="addSleep" class="btn bg-blue fa-bed left d-block mb-2">
                        {% trans %}sheet.daily.add-sleep{% endtrans %}
                    </button>
                    <button type="button" data-modal="addStools" class="btn bg-blue fa-toilet-paper left d-block mb-2">
                        {% trans %}sheet.daily.add-stools{% endtrans %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

    {% include 'sheet_view/daily-add-meal-modal.html.twig' %}
    {% include 'sheet_view/daily-add-sleep-modal.html.twig' %}
    {% include 'sheet_view/daily-add-stools-modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script async>
        $("#dailySheetForm").submit(function(e) {
            $.ajax({
                type: "POST",
                url: '{{ path('sheet_view_ajax', {'childId': app.request.get('childId')}) }}',
                data: $(this).serialize(),
                success: function(data) {}
            });
            e.preventDefault();
        });

        $('input').on('change', function() {
            setTimeout( function(){
                $("#dailySheetForm").submit();
            } , 1000 );
        });

        window.onbeforeunload = function () {
            $("#dailySheetForm").submit();
        }
    </script>

{% endblock %}
