{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.user-profile{% endtrans %}{% endblock %}
{% block description %}{% trans %}title.user-profile{% endtrans %}{% endblock %}

{% block main %}

<main>
    <section class="pb-5">
        <div class="page-wrapper">
            <div class="box-user">
                <div class="box-letters">{{user.firstname|first|upper}}{{user.lastname|first|upper}}</div>

                <div class="box-user__content">
                    <form class="grid-flex">
                        <div class="column w-100">
                            <div class="input-animation active">
                                <label for="firstname">{% trans %}user.profile.firstname{% endtrans %}</label>
                                <input type="text" id="firstname" readonly name="firstname" value="{{user.firstname}}">
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation active">
                                <label for="lastname">{% trans %}user.profile.lastname{% endtrans %}</label>
                                <input type="text" id="lastname" readonly name="lastname" value="{{user.lastname}}">
                            </div>
                        </div>
                        <div class="column w-100">
                            <div class="input-animation active">
                                <label for="email">{% trans %}user.profile.email{% endtrans %}</label>
                                <input type="email" id="email" readonly name="email" value="{{user.email}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <p class="title-2">{% trans %}user.profile.followup{% endtrans %}</p>
            <p>{% trans %}user.profile.select-children{% endtrans %}</p>

            {% for child in children %}
                <div class="box-user-3 {% if child.sexe == 'F' %}box-user-3--girl{% endif %}">
                    <div class="box-user-3__left">
                        <div class="box-letters">{{child.firstname|first|upper}}{{child.lastname|first|upper}}</div>
                        <div class="left__name">{{child.firstname}} <br> {{child.lastname}}</div>
                    </div>
                    <div class="box-user-3__right">
                        <div class="custom-input-checkbox">
                            <input type="checkbox" {% if child in user.children %}checked="checked"{% endif %} data-child="{{ child.id }}" />
                            <div class="custom-check"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async>
        $('input[type=checkbox]').on('click', function() {
           $.ajax({
               url: '{{ path('user_profile_ajax') }}',
               type: 'POST',
               dataType: 'json',
               data: {
                   'childId': $(this).attr('data-child'),
                   'action': $(this).is(':checked') ? 'assign' : 'unassign'
               },
               success: function (data) {
                   //console.log(data);
               }
           });
        });
    </script>
{% endblock %}