<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="{% block description %}Base description page{% endblock %}">
        <meta name="theme-color" content="#ff9fa0">
        <link rel="manifest" href="/manifest.json">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/camie_icon.png') }}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" />

        <title>{% block title %}{{ app.user.nursery.name }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/raleway_font.css') }}" rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/buddy.plugins.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/buddy.min.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body class="overlay--open">
        {% block header %}
            <div class="page-header" style="z-index: 10">
                <div class="page-wrapper">
                    {% if app.request.get('_route') == 'home' or app.request.get('_route') == 'index' %}
                        {#<a href="{{ path('user_profile') }}"><button type="button" class="btn-icon"><i class="fas fa-user" aria-label="hidden"></i></button></a>#}
                        <button type="button" disabled style="pointer-events: none;" class="btn-icon disabled"><i class="fas fa-fw" aria-label="hidden"></i></button>
                    {% else %}
                        <button type="button" class="btn-icon" onclick="history.back()"><i class="fas fa-chevron-left" aria-label="hidden"></i></button>
                    {% endif %}
                    <span>{{ app.user.nursery.name }}</span>
                    <button type="button" data-modal="modalNav" class="btn-icon"><i class="fas fa-bars" aria-label="hidden"></i></button>
                </div>
            </div>

            <section class="overlay overlay--nav overlay--scale" data-modal="modalNav">
                <button type="button" data-modal="modalNav" class="btn-icon"><i class="fas fa-times" aria-label="hidden"></i></button>
                <nav class="nav-primary">
                    <ul>
                        <li><a href="{{ path('home') }}">{% trans %}page.home{% endtrans %}</a></li>
                        <li><a href="{{ path('child_list') }}">{% trans %}page.child_list{% endtrans %}</a></li>
                        <li><a href="{{ path('user_profile') }}">{% trans %}page.profile{% endtrans %}</a></li>
                    </ul>
                </nav>
                <a href="{% if app.user %}
                            {{ path('app_logout') }}" class="link-nav-primary">{% trans %}login.logout{% endtrans %}
                        {% else %}
                            {{ path('app_login') }}" class="link-nav-primary">{% trans %}login.login{% endtrans %}
                        {% endif %}
                </a>
            </section>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/buddy.min.js') }}"></script>
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
